#task {
    width: 30%;
}
body {
    margin: 20px;
}

#bodyDiv {
    background-color: khaki;
    padding: 10px;
    border: 5px solid maroon;
}

#tasksTable{
    border: 1px solid black;
    border-collapse: collapse;
    background-color:cyan
}

th, td {
    border: 1px solid black;
    padding: 5px;

}